<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<servlet>
		<servlet-name>hundred-servlet</servlet-name>
		<servlet-class>HundredServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>hundred-servlet</servlet-name>
		<url-pattern>/hundred</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tenplus-servlet</servlet-name>
		<servlet-class>TenplusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tenplus-servlet</servlet-name>
		<url-pattern>/tenplus</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adder-servlet</servlet-name>
		<servlet-class>AdderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adder-servlet</servlet-name>
		<url-pattern>/adder</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ok-servlet</servlet-name>
		<servlet-class>okServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ok-servlet</servlet-name>
		<url-pattern>/ok</url-pattern>
	</servlet-mapping>
	<error-page>
		<exception-type>java.lang.NumberFormatException</exception-type>
		<location>/NumberFormatError.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<loccation>/NotFoundError.jsp</location>
	</error-page>
	<servlet>
		<servlet-name>fibonacci-servlet</servlet-name>
		<servlet-class>FibonacciServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>fibonacci-servlet</servlet-name>
		<url-pattern>/fibonacci</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>greeting-servlet0</servlet-name>
		<servlet-class>GreetingServlet0</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>greeting-servlet0</servlet-name>
		<url-pattern>/greeting0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>greeting-servlet</servlet-name>
		<servlet-class>GreetingServlet</servlet-class>
		<init-param>
			<param-name>FILE_NAME</param-name>
			<param-value>C:\\data\\greeting_log.txt</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>greeting-servlet</servlet-name>
		<url-pattern>/greeting</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>hello-servlet</servlet-name>
		<servlet-class>GreetingServlet</servlet-class>
		<init-param>
			<param-name>FILE_NAME</param-name>
			<param-value>C:\\data\\hello_log.txt</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>hello-servlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>winners-jsp</servlet-name>
		<jsp-file>/Winners.jsp</jsp-file>
		<init-param>
			<param-name>FILE_NAME<param-name>
			<param-value>winner-list.txt</param-vaule>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>winner-jsp</servlet-name>
		<url-patter>/winners</url-pattern>
	</servlet-mapping>
</web-app>